#shuoshuo_content {
      background-color: #fff;
      padding: 10px;
      min-height: 500px;
  }
  body.theme-dark .cbp_tmtimeline::before {
      background: RGBA(255, 255, 255, 0.06);
  }
  ul.cbp_tmtimeline {
      padding: 0;
  }

  div class.cdp_tmlabel > li .cbp_tmlabel {
      margin-bottom: 0;
  }

  .cbp_tmtimeline {
      margin: 30px 0 0 0;
      padding: 0;
      list-style: none;
      position: relative;
  }
  /* The line */

  .cbp_tmtimeline:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 4px;
      background: RGBA(0, 0, 0, 0.02);
      left: 80px;
      margin-left: 10px;
  }
  /* The date/time */

  .cbp_tmtimeline > li .cbp_tmtime {
      display: block;
      /* width: 29%; */
      /* padding-right: 110px; */
      max-width: 70px;
      position: absolute;
  }

  .cbp_tmtimeline > li .cbp_tmtime span {
      display: block;
      text-align: right;
  }

  .cbp_tmtimeline > li .cbp_tmtime span:first-child {
      font-size: 0.9em;
      color: #bdd0db;
  }

  .cbp_tmtimeline > li .cbp_tmtime span:last-child {
      font-size: 1.2em;
      color: #9BCD9B;
  }

  .cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
      color: RGBA(255, 125, 73, 0.75);
  }

  div.cbp_tmlabel > p {
      margin-bottom: 0;
  }
  /* Right content */

  .cbp_tmtimeline > li .cbp_tmlabel {
      margin: 0 0 45px 65px;
      background: #9BCD9B;
      color: #fff;
      padding: .8em 1.2em .4em 1.2em;
      /* font-size: 1.2em; */
      font-weight: 300;
      line-height: 1.4;
      position: relative;
      border-radius: 5px;
      transition: all 0.3s ease 0s;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
      cursor: pointer;
      display: block;
  }

  .cbp_tmlabel:hover {
      /* transform:scale(1.05); */
      transform: translateY(-3px);
      z-index: 1;
      -webkit-box-shadow: 0 15px 32px rgba(0, 0, 0, 0.15) !important
  }

  .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
      background: RGBA(255, 125, 73, 0.75);
  }
  /* The triangle */

  .cbp_tmtimeline > li .cbp_tmlabel:after {
      right: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-right-color: #9BCD9B;
      border-width: 10px;
      top: 4px;
  }

  .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
      border-right-color: RGBA(255, 125, 73, 0.75);
  }

  p.shuoshuo_time {
      margin-top: 10px;
      border-top: 1px dashed #fff;
      padding-top: 5px;
  }
  /* Media */

  @media screen and (max-width: 65.375em) {
      .cbp_tmtimeline > li .cbp_tmtime span:last-child {
          font-size: 1.2em;
      }
  }

  .shuoshuo_author_img img {
      border: 1px solid #ddd;
      padding: 2px;
      float: left;
      border-radius: 64px;
      transition: all 1.0s;
  }

  .avatar {
      -webkit-border-radius: 100% !important;
      -moz-border-radius: 100% !important;
      box-shadow: inset 0 -1px 0 #3333sf;
      -webkit-box-shadow: inset 0 -1px 0 #3333sf;
      -webkit-transition: 0.4s;
      -webkit-transition: -webkit-transform 0.4s ease-out;
      transition: transform 0.4s ease-out;
      -moz-transition: -moz-transform 0.4s ease-out;
  }

  .zhuan {
      transform: rotateZ(720deg);
      -webkit-transform: rotateZ(720deg);
      -moz-transform: rotateZ(720deg);
  }
  /* end */

.mytxt {
    color:#333;
    line-height:normal;
    font-family:"Microsoft YaHei",Tahoma,Verdana,SimSun;
    font-style:normal;
    font-variant:normal;
    font-size-adjust:none;
    font-stretch:normal;
    font-weight:normal;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    padding-top:4px;
    padding-right:4px;
    padding-bottom:4px;
    padding-left:4px;
    font-size:15px;
    outline-width:medium;
    outline-style:none;
    outline-color:invert;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    text-shadow:0px 1px 2px #fff;
    background-attachment:scroll;
    background-repeat:repeat-x;
    background-position-x:left;
    background-position-y:top;
    background-size:auto;
    background-origin:padding-box;
    background-clip:border-box;
    background-color:rgb(255,255,255);
    margin-right:8px;
    border-top-color:#ccc;
    border-right-color:#ccc;
    border-bottom-color:#ccc;
    border-left-color:#ccc;
    border-top-width:1px;
    border-right-width:1px;
    border-bottom-width:1px;
    border-left-width:1px;
    border-top-style:solid;
    border-right-style:solid;
    border-bottom-style:solid;
    border-left-style:solid;
    float: right;
}

.mytxt:focus {
     border: 1px solid #fafafa;
    -webkit-box-shadow: 0px 0px 6px #007eff;
     -moz-box-shadow: 0px 0px 5px #007eff;
     box-shadow: 0px 0px 5px #007eff;   
    
}
.button-success,
    .button-error,
    .button-warning,
    .button-secondary {
        color: white;
        border-radius: 4px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }

    .button-success {
        background: rgb(28, 184, 65); /* this is a green */
    }
